.moveSecondChild.highlighted {
  color: green;
  font-weight: bold;
  width: 200px;
  text-align: center;
}

.moveFirstChild.highlighted {
  color: green;
  font-weight: bold;
  width: 200px;
  text-align: center;
}

.move-viewer {
  display: table;
  column-count: 2;
  table-layout: auto;
  border-collapse: collapse;
}

.moveFirstChild {
  width: 200px;
  text-align: center;
  border-left: none;
}

.moveSecondChild {
  width: 200px;
  text-align: center;
  border-left: 1px solid black;
}

.move-viewer tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}


.move-viewer tr:nth-child(even) {
  background-color: white;
}