.move-viewer .moveChild.highlighted {
  color: green;
  font-weight: bold;
  background-color: rgba(160, 255, 160, 1);
}

.move-viewer {
  width: 100%;
  display: table;
  table-layout: auto;
  border-collapse: collapse;
}

.scrollable-container {
  overflow-y: scroll;
  height: 20vh;
}

.moveChild {
  width: 50%;
  text-align: center;
  border-left: none;
}

.move-table-row {
  height: 40px
}