.Rating {
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Open Sans';
  font-size: min(4vh, 4vh);
  font-style: normal;
  font-weight: 523;
  line-height: normal;
  padding-bottom: 2.5vh;
}

.RatingMessage {
  padding-top: 1.5vh;
  padding-left: 10%;
  padding-bottom: 1vh;
  text-align: left;
  font-family: 'Open Sans';
  font-size: min(1.7vh, 1.7vw);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.MobileRating {
  display: none;
}

@media (max-width: 768px) {
  .Rating {
    display: none;
  }
  .RatingMessage {
    display: none;
  }
  .MobileRating {
    display: block;
  }
}
