@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

.ui-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem auto;
}

.chessboard-container {
  display: grid;
  place-self: center;
}

.chessboard {
  grid-column: 1;
  display: flex;
}

.rating-container {
  align-content: center;
}

.displayBox {
  display: flex;
  align-items: center;
  font-size: 2vh;
  height: 100%;
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .chessboard-container {
    grid-template-columns: max(min(70vh, 40vw), 300px) calc(
        60vw - max(min(70vh, 40vw), 300px) - 1rem
      );
    grid-gap: 1rem;
    width: 70vw;
  }

  .fromGameHeader {
    display: block;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 5vh;
    font-size: 2vh;
    height: 5vh;
  }

  .control-panel {
    grid-column: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 70vh;
  }
}
