@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 99%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    /* PUZZLE MODE CONSTANTS */
    --tablerow-light: 0, 0%, 100%;
    --tablerow-dark: 0 0% 97%;
    --tablerow-divide: 0 0% 93%;
    --controller-dark: 0 0% 75%;
    --controller-light: 0 0% 70%;

    --line: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 5% 5%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    /* PUZZLE MODE CONSTANTS */
    --tablerow-light: 0, 0%, 5%;
    --tablerow-dark: 0 0% 8.5%;
    --tablerow-divide: 0 0% 15%;
    --controller-dark: 0 0% 10%;
    --controller-light: 0 0% 15%;

    --line: 142.1 70.6% 45.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

svg #axis {
  color: hsl(var(--foreground));
  opacity: 0.7;
  font-weight: bold;
  font-family: var('--font-inter'), sans-serif;
}

svg #labelText {
  fill: hsl(var(--foreground));
  opacity: 1;
  font-weight: bold;
  font-family: var('--font-inter'), sans-serif;
  font-size: 10px;
}

svg #labelRect {
  fill: hsl(var(--muted));
}

svg #line {
  /*target the image with css*/
  stroke: hsl(var(--line));
}

svg #area {
  fill: hsl(var(--line));
}

svg #circle {
  fill: hsl(var(--line));
}
